p {
    font-size: -1px;
    color: #660000;
}

a {
    color: #000000;
}

body {
    color: #FF0000;
    background-color: #000000;
}

img {
    border: 0px;
    text-align: bottom;
}
